@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

html,
body {
  height: -webkit-fill-available;
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: linear-gradient(#fff 110%, #fc74b3);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#hero-img {
  height: 80vh;
  width: 35vw;
  object-fit: contain;
  margin-inline: 5vw;
  margin-top: 10px;
  animation: hover 5s ease-out infinite;
}

.main-text {
  font-family: 'Hubballi', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  justify-content: space-evenly;
}

#text-content {
  align-items: center;
  animation: entry 0.4s ease-out;
}

#text-content > h2 {
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#info-button {
  text-align: center;
  color: grey;
  font-weight: bold;
  transition: all 0.1s ease;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  color: brown;
}

.source-link {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 6vh;
  width: 6vh;
  transition: all 0.4s ease-out;
}

.source-link:hover {
  cursor: pointer;
  transform: rotate(400deg) scale(1.1);
}

#link {
  margin-top: 2%;
  font-family: 'Hubballi', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  transition: all 0.3s ease-out;
}

#link:hover > a {
  font-size: 1.3em;
  cursor: pointer;
}

@media (max-width: 750px) {
  main {
    justify-content: center;
    flex-direction: column;
    padding-inline: 10vw;
    padding-top: 10rem;
    padding-bottom: 2rem;
    overflow: auto;
  }

  #hero-img {
    height: 35vh;
    width: 70vw;
  }

  #info-button {
    cursor: none;
    color: brown;
    font-size: 1.3em;
  }

  #link > a {
    font-size: 1.3em;
  }
}

@keyframes entry {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes hover {
  0% {
    transform: translateY(0px);
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
  }
  50% {
    transform: translateY(-20px);
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
  }
  100% {
    transform: translateY(0px);
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
  }
}
