<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Dipesh Joshi, Divyam Kaushik">
  <meta name="keywords" content="Anime, Avatar, API, Fullstack, ML, Machine Learning">
  <meta name="description"
    content="A Twin Anime Avatar for Your Images 🤩✨, just upload your image (jpg, png) and get the corresponding avatar in seconds.">
  <link rel="stylesheet" href="/yourAvatar/index.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Get Your Anime Avatar</title>
  <script defer src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script defer type="module" src="/yourAvatar/index.js"></script>
</head>

<body>
  <video autoplay muted loop id="myVideo">
    <source src="../images/backdround-video.webm" id="background-video" type="video/webm">
  </video>
  <div class="container">
    <h1 class="title">Your Anime Avatar</h1>
    <div class="main">
      <div class="upload original">
        <!-- <img class="characters" src="/images/anime-chars-img.webp" alt="anime-chars-img" /> -->
        <form class="img-form" enctype="multipart/form-data">
          <input name="userImg" class="upload-image" id="upload-img" type="file" accept="image/png, image/jpeg"></input>
          <label class="uploadBtn" for="upload-img">
            <i class="fa fa-chevron-up"></i> Upload Image
          </label>
        </form>
      </div>
      <div class="upload-input upload">
        <img class="input-img" />
        <img class="input-img blur" />
      </div>
      <div class="avatar_container upload">
        <img class="avatar-img" />
        <img class="avatar-img blur" />
        <div class="loader"></div>
      </div>
    </div>
</body>

</html>