<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/yourAvatar/index.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Get Your Anime Avatar</title>
  <style></style>
</head>

<body>
  <div class="container">
    <h1 class="title">Get Your Anime Avatar</h1>
    <div class="main">
      <div class="upload original">
        <img class="characters" src="/images/anime-chars-img.webp" alt="anime-chars-img" />
        <form class="img-form" enctype="multipart/form-data">
          <input class="upload-image" id="upload-img" type="file" name="userImg" accept="image/png, image/jpeg"></input>
          <label class="uploadBtn" for="upload-img">
            <i class="fa fa-chevron-up"></i> Upload Image
          </label>
        </form>
      </div>
      <div class="upload-input upload">
        <img class="input-img" />
      </div>
      <div class="avatar_container upload">
        <img class="avatar-img" />
        <div class="loader"></div>
      </div>
      <!-- <div>
        <video autoplay muted loop id="myVideo">
          <source id="background-video" type="video/mp4">
        </video>
      </div> -->
    </div>
    <script src="/yourAvatar/index.js"></script>
</body>

</html>